body{
    margin: 0;
    padding: 0;
    font-family: 'Tilt Neon', sans-serif;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    padding: 5px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#left h1{
    font-size: 1rem;
    color: white;
    
}
#left h1 span{
    font-weight: 100;

}

#right #cont {
    display: flex;
    list-style: none;
    gap: 2rem;
}
#cont a{
    text-decoration: none;
    color: white;
}
#right button{
    border-radius: 5px;
    background-color: transparent;
    font-size: 0.8rem;
    color: white;
    border: 2px solid rgb(227, 220, 220);
    padding: 5px 10px ;
}
#drop{
    position: relative;
}
 #menu{
    list-style-type: none;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    position: absolute;
   top: 100%;
   left: -100%;
   right: 0%;
   width: 200%;
   display: none;

}
#drop:hover #menu{
    display: block;
}
#menu a{
    color: rgb(5, 4, 4);
    /* border-bottom:2px solid gray ; */
    display: block;
    padding-left: 10px;

}
#menu a:hover{
    background-color: rgb(236, 122, 122);
}
#menu2{
    position: relative;

}
#menu2:hover #Submenu{
    display: block;
}
#menu #Submenu{
    /* display: flex; */
    position: absolute;
    list-style-type: none;
    width: 110%;
    padding: 0px;
    top: 0%;
    right: 100%;
    background-color: white;
    display: none;
}

#alpha{
    text-align: center;
    color: white;
    margin-top: 7rem;
    
}

#alpha h1{
    margin-bottom: 0px;
    font-size: 3rem;
    font-weight: 20;
  
}
#alpha p{
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}
#alpha button{
    width: 13%;
    height: 2.4rem;
    border-radius: 5px;
    border: none;
   margin-right:1rem ;
   background-color: white;
   color: rgb(101, 97, 97);
   font-size: 0.8rem;
}
#alpha #learn{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

#intro{
    /* text-align: center;
    position: relative; */
    background-color: white;
    /* display: flex;
    justify-content: center; */
    width: 80%;
    margin: auto;
    margin-top: 8rem;
    border-radius: 5px;
    text-align: center;
    padding-top: 2rem;




}

#intro h1{
    font-size: 2rem;
    color: rgb(45, 42, 42);
    background-color: white;

}
#intro p{
    font-size: 1.2rem;
    border-top: 2px solid gray;
    width: 60%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#intro img{
    width: 100%;

}
